<div class="row">
  <div class="col s12">
    <h5 class="header">Nueva Medida</h5>
    <p>Agregar nueva Medida</p>
    <%= render "form.html", conn: @conn,
                            part: @part,
                            changeset: @changeset,
                            action: part_measurement_path(@conn, :create, @part) %>
  </div>
</div>
