<div class="row">
  <div class="center-align">
    <div class="col s6">
      <i class="material-icons large text-grey icon-grey-blue">monetization_on</i><br><p>Consumo</p>
    </div>
    <div class="col s6">
      <i class="material-icons large icon-grey-blue">multiline_chart</i><br><p>KPI's</p>
    </div>
  </div>
</div>
