<div class="row">
  <div class="col s12">
    <h5 class="header">Editar Unidad de Medida</h5>
    <p>Editar datos de Unidad de Medida</p>
    <%= render "form.html", conn: @conn,
                            changeset: @changeset,
                            action: unit_path(@conn, :update, @unit) %>

  </div>
</div>
