<div class="row">
  <div class="col s12">
    <h5 class="header">Editar Proyecto</h5>
    <p>Editar datos del Proyecto</p>
    <%= render "form.html", conn: @conn,
                            changeset: @changeset,
                            customer: @customer,
                            action: customer_project_path(@conn, :update, @customer, @project) %>
  </div>
</div>
