<div class="row">
  <div class="col s12">
    <h5 class="header">Nuevo Proyecto</h5>
    <p>Agregar nuevo Proyecto</p>
    <%= render "form.html", conn: @conn,
                            changeset: @changeset,
                            customer: @customer,
                            action: customer_project_path(@conn, :create, @customer) %>
  </div>
</div>
